doctype html
html(lang="en")
	head
		title=ProjectC4
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		div(class="custom-menu-wrapper")
			div(class="pure-menu custom-menu custom-menu-top")
				a(href="#", class="pure-menu-heading custom-menu-brand") Frittata
				a(href="#", class="custom-menu-toggle", id="toggle")
					s(class="bar")
					s(class="bar")
			div(class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu")
				div(class="custom-menu-screen")
				ul(class="pure-menu-list")
					li(class="pure-menu-item")
						a(href="#", class="pure-menu-link") Home
		p You've connected to #[b !{headers.host}] from #[b !{connection._peername.address}]!
		script(type='text/javascript').
			(function (window, document) {
				document.getElementById('toggle').addEventListener('click', function (e) {
					document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
					document.getElementById('toggle').classList.toggle('x');
				});
			})(this, this.document);
