/* Fonts from Google Fonts */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:700|Open+Sans:400,700,800);

/* Reset all margins */
body {
  background:url('images/grid.png') #DDD;
  color:#000;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  height:auto;
  margin:0;
  padding:0;
}
html {
  min-height:100%;
}

/* Navigation */
#navigation {
  background-color:rgba(255,255,255,0.95);
  border-bottom:1px solid #333;
  box-sizing: border-box;
  color:#000;
  padding:2px 0 2px 0;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}
#skrollr-body {
    float: left;
    width: 100%;
    height: 100%;
}
#navigation a {
  display:inline-block;
  color:#333;
  font-weight:700;
  line-height:25px;
  padding:0 0 0 10px;
  text-decoration:none;
  vertical-align:middle;
}
#navigation a i {
  padding-right:2px;
}
#navigation a:hover {
  color:#000;
}
#navigation a:hover:not(#navigation-home) {
  text-decoration:underline;
}
#navigation #navigation-home {
  border-right:1px solid #666;
  font-family:'Source Sans Pro', sans-serif;
  font-size:24px;
  padding-left:15px;
  padding-right:15px;
}
#navigation #navigation-login {
  float:right;
}
#navigation #navigation-login a {
  padding:0 15px 0 0;
}
#navigation .login {
  color:#893A25;
}
#navigation .login:hover {
  text-decoration:underline;
}
#navigation .signup {
  color:#278E23;
}
#navigation .signup:hover {
  text-decoration:underline;
}

/* Banner */
.banner {
  background-color: #000;
  box-sizing: border-box;
  border-bottom:1px solid #333;
  color:#FFF;
  display:table;
  vertical-align:middle;
  height:250px;
  padding:100px 0 0 0;
  text-shadow:0 0 2px #333;
  font-size:16px;
  width:100%;
}
.banner-lol {
  background:transparent url('images/banners/lol.jpg') no-repeat;
  background-size:cover;
}
.banner span {
  padding:0 0 0 20px;
}
.banner strong {
  display:block;
  font-family:'Source Sans Pro', sans-serif;
  font-weight:700;
  font-size:48px;
  text-shadow:0 0 6px #111;
  padding:0 0 0 20px;
}

/* Articles */
article {
  width:100%;
}
article .article-content {
  background:rgba(255, 255, 255, 0.9);
  border:1px solid #333;
  margin:10px 10px 10px 95px;
  padding:5px;
  min-height:65px;
}
article .article-icon {
  border:1px solid #666;
  float:left;
  height:75px;
  margin-left:10px;
  width:75px;
}
article .article-title {
  font-size:14px;
}
article .article-author {
  color:#999
  text-decoration: none;
}

/* Login Page */
loginForm {
  width: 100%;
}

loginForm .login-body {
  background:rgba(255, 255, 255, 0.9);
  border:1px solid #d3d3d3;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #788588;
  margin: 10% 10% 10% 10%;
  padding:5px;
  min-height:65px;
}

loginForm .login-header {
  font-size: 20pt;
  color: #252525;
  padding: 10px 10px 10px 10px;
}

loginForm form {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

loginForm form input[type="text"] {
  width: 200px;
  line-height: 30pt;
}

loginForm form input[type="password"] {
  width: 200px;
  line-height: 30pt;
}


loginForm form label {
  font-size: 14pt;
}

loginForm form div {
    padding: 5px 0px 5px 0px;
}

loginForm form input {
  text-align: center;
}

/* Footer */
#footer {
  padding-left:10px;
}
#footer a {
  font-weight:bold;
}
