<!-- Banner -->
<div class="banner banner-lol" data-0-start="background-position:0px 0px;" data-200-start="background-position:0px -100px;">
  <strong>Welcome to C4 eSports!</strong>
  <span>Devoted to competitive eSports on campus!</span>
</div>


<h3>Hello World!</h3>
<h3>{{neat}}</h3>
<h2>{{data}}</h2>
<d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>

<span>{{title}}</span>
        <d3-bars data="d3Data" label="title"></d3-bars>
        <br>
        <br>
        <span>First Item</span>
        <input type="text" ng-model="d3Data[0].score"></input>
        <br>
        <span>Second Item</span>
        <input type="text" ng-model="d3Data[1].score"></input>
        <br>
        <span>Third Item</span>
        <input type="text" ng-model="d3Data[2].score"></input>
